<!DOCTYPE html>
<html lang="de">
  <head>
    {% include meta_tags.html %}
    <link rel="alternate" type="application/rss+xml" title="" href="{{ site.url }}/blog/feed.xml">
    <title>{{page.title}}</title>
    {% include head_includes.html %}
  </head>

  <body class="blog-page {{page.body_css}}">

    {% include header.html %}

    <div class="container content-container">
      <div class="row">
        <div class="col-xs-3">
        </div>
        <div class="col-xs-9 main-content">
          <div id="blog-wrapper">
            <div id="posts">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
    </div>

    
	
    <footer class="footer">
      <p>
      </p>
    </footer>

    {% include footer.html %}
    {% include base_scripts.html %}
  </body>
</html>
